.ng-full-page {
    background-color: #F7F7F7;
    min-height: 700px !important;
}
.ng-or {
    padding: 0 4px;
    position: relative;
}
.ng-or::before {
    width: 120px;
    height: 1px;
    content: '';
    background-color: gray;
    position: absolute;
    left: -120px;
    top: 8px;
}
.ng-or::after {
    width: 120px;
    content: '';
    position: absolute;
    height: 1px;
    background-color: gray;
    top: 8px;
    right: -120px;
}
.btn.btn-danger.ng-btn-google {
    width: 100%;
    border: none;
    border-radius: 0px;
}
.ng-button-login-or {
    padding: 20px 0px;
}
  
.ul-list-track li {
    display: inline-block;
    height: 100px;
    position: relative;
    float: left;
}
.p-date {
    padding: 15px 5px;
    background-color: #34495e;
    color: #fff;
    margin: 0px;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
.p-diff {
    background-color: #fff;
    color: #000;
    border: 1px solid #34495e;
    padding: 15px 5px;
    margin: 0px;
}
.blue-stripe-tbl .p-date {
    border-bottom: 1px solid;
}
.white-stripe-tbl .p-date {
    border-bottom: 1px solid;
}
.today-stock-main {
    padding: 5px;
    color: #fff;
    background-color: #34495e;
    margin: 10px;
    border-radius: 5px;
    position: relative;
}
.ama-grey-skin {
    background-color: #ecf0f1;
    padding: 14px 0px;
    margin: 0px 0px 20px 0px;
}
.ama-dark-blue-skin {
    background-color: #2c3e50;
    color: #fff;
    padding: 15px 0px;
    margin-bottom: 13px;
}
.ama-half-input {
    width: 49%;
    display: inline-block;
    /* float: left; */
    /* margin-right: 25px; */
}
.ama-search-label {
    display: block;
}
#table-product_filter {
    display: none;
}
.d-7-day-ave {
    background-color: #34495e;
    color: #fff;
    position: relative;
    float: right;
    padding: 5px;
    border-radius: 5px;
    width: 47px;
    text-align: center;
}
/*.d-7-day-ave { display: none; }*/
.track-table-container {
    overflow-x: auto;
    max-width: 100%;
}
#product-list_filter{
    display: none;
}
