<!-- <ng-include src="navbar"> </ng-include> -->
<div class="right_col" style="min-height:700px;" >
  <div class="row">
    <div class="x_panel">
      <div class="x_title">
        <h2>Advance Search<small>search products</small></h2>
       
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
      <!-- start form for validation -->
     
        <div ng-show="error_msg" class="alert {{ error_class }}">
          {{ error_text }}
        </div>
      
      <form method="POST" action="" >
      <input type="hidden" id="asin" name="asin" />
        <div class="form-group">
          <label for="comment">Put bulk of product ASIN:</label>
          <textarea class="form-control" rows="5" id="asin-bulk" name="asin-bulk" ></textarea>
        </div> 
        <button type="button" id="form-add-bulk-asin" class="btn btn-primary" >Add</button>
      </form>
      <!-- end form for validations -->

      </div>
    </div>
  </div>
</div>